:root {
  --clr-primary-dark: hsl(300, 43%, 22%);
  --clr-primary-soft: hsl(333, 80%, 67%);
  --clr-secondary-dark: hsl(303, 10%, 53%);
  --clr-secondary-light: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  font-size: 62.5%;
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;

  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Typography */
.section-title,
.rating-platform {
  color: var(--clr-primary-dark);
  font-weight: 700;
}

.section-title {
  font-size: 4.8rem;
  line-height: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.section-description {
  color: var(--clr-secondary-dark);
  text-align: center;
}

.reviewer-name {
  color: var(--clr-white);
}

.reviewer-name {
  font-weight: 500;
}

.reviewer-name span {
  color: var(--clr-primary-soft);
}

.review-text {
  color: var(--clr-secondary-light);
}

/* Layout */
.main {
  width: 90%;
  max-width: 1440px;
}

.social-proof {
  background-image: url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
  background-position: top right, bottom center;
  background-repeat: no-repeat, no-repeat;
  padding: 10rem 2rem 2rem 4rem;
  display: grid;
  gap: 3rem;
  min-height: 100vh;
}

.ratings-container {
  display: grid;
  gap: 1rem;
}

.rating {
  background-color: var(--clr-secondary-light);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 0;
}

.rating-stars {
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.reviews-container {
  display: grid;
  gap: 1rem;
}

.review {
  background-color: var(--clr-primary-dark);
  border-radius: 0.8rem;
  padding: 3rem;
}

.reviewer {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

.reviewer-img {
  border-radius: 50%;
  display: block;
}

.reviewer-name span {
  display: block;
}

@media (min-width: 1200px) {
  .section-title,
  .section-description {
    text-align: left;
  }

  .social-proof {
    background-image: url('../images/bg-pattern-top-desktop.svg'),
      url('../images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    padding-top: 15rem;

    grid-template-columns: 1fr 2fr;
    gap: 5rem;
  }

  .header {
    grid-column: 1 / 2;
  }

  .ratings-container {
    padding-top: 4rem;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .rating:first-child {
    grid-column: 4 / 9;
    grid-row: 1 / 2;
  }

  .rating:nth-child(2) {
    grid-column: 5/ 10;
    grid-row: 2 / 3;
  }

  .rating:last-child {
    grid-column: 6 / 11;
    grid-row: 3 / 4;
  }

  .rating-stars {
    margin-bottom: 0;
  }

  .reviews-container {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, min-content);
    gap: 4rem;
  }

  .review:first-child {
    grid-column: 1 / 2;
    grid-row: 1/9;
  }

  .review:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2/10;
  }

  .review:last-child {
    grid-column: 3 / 4;
    grid-row: 3 / 11;
  }
}
